@if (Results.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <td scope="col">Employee Name</td>
                <td scope="col">Designation</td>
                <td scope="col">Department Name</td>
                <td scope="col">Location</td>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < @Results.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@Results[i].EmployeeName</td>
                    <td>@Results[i].Designation</td>
                    <td>@Results[i].DepartmentName</td>
                    <td>@Results[i].Location</td>
                </tr>

            }
        </tbody>
    </table>
}
else
{
    <div>Sorry, cannot find what you are looking for.</div>
}


@code {

    [Parameter]
    public List<SearchDto> Results { get; set; }

    [Parameter]
    public EventCallback<List<SearchDto>> ResultsChanged { get; set; }
}
